/* ---- 
Card general styles
---- */
.character-card {
    height: 244px;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    background-color: #FFFFFF;
    position: relative;
    transition: all 0.3s;
}

/* Shape and shadow */
.character-card,
.see-details,
.see-details a {
    box-shadow: var(--card-shadow);
    border-radius: 4px;
}

/* hover effect on card shows background with redirect button */
.character-card:hover {
    transform: scale(1.03);
    box-shadow: none;
}

.character-card:hover .see-details {
    visibility: visible;
    opacity: 100;
}

/* ---- 
Redirect button
---- */
/* background over the card */
.see-details {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: grid;
    place-items: center center;
    background: rgba(31, 29, 29, 0.7);
    backdrop-filter: blur(5px);
    transition: opacity 0.4s ease-in;
}

/* redirect button to character details page */
.see-details a {
    text-decoration: none;
    color: black;
    background-color: #F0F0F0;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    width: 150px;
    box-sizing: border-box;
}

/* text inside button  */
.see-details span {
    font-size: 20px;
    line-height: 30px;
    margin-right: 8px;
    text-align: center;
    white-space: nowrap;
    transition: margin-right 0.2s ease-in;
}

/* arrow inside button */
.see-details img {
    width: 16px;
    height: 16px;
}

.see-details a:hover span {
    margin-right: 12px;
}

/* ---- 
Card image
---- */
.card-image {
    width: 240px;
    height: 168px;
    position: relative;
}

.card-image img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;
}

/* ---- 
Card Info
---- */
.card-details {
    width: inherit;
    box-sizing: border-box;
    padding: 12px 16px;
}

.card-details :is(h6, p) {
    padding: 0;
    margin: 0;
}


h6.card-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
}

p.card-species {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
}

/* .card-details {
    position: relative;
}

.card-details span {
    position: absolute;
    bottom: 14px;
    right: 16px;
} */


/* ---------------------- MOBILE ---------------------- */
@media screen and (max-width: 576px) {

    /* card size */
    .character-card {
        height: 308px;
        width: 312px;
    }

    .character-card:hover {
        transform: scale(1.01)
    }

    /* character image */
    .card-image {
        width: 312px;
        height: 232px;
    }
}